body
{
    background-repeat: no-repeat;
    background-size: 100%;
}

.top-left-overlap
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.bottom-right-overlap
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    zoom: 50%;
}

#date
{
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
