body
{
    background-repeat: no-repeat;
    background-size: 100%;
}

nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: whitesmoke;
}

.header{
    border: 1px solid white;
    height: 100px;
    margin-top: 0px;
}

.top-left-overlap
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.bottom-right-overlap
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    zoom: 50%;
}

#date
{
    position: absolute;
    right: 30px;
    top: 0px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.guessNumBtn{
    margin: auto;
    background-color: red;
    border: 2px solid black;
    display: block;
}

